{% load i18n wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}


{% with header=page.header.first %}
    {% if header %}
    <my-header>
        <my-navbar>        
        <my-navbarsection>
            <my-navbaritem>
                {% image header.logo fill-70x70 %}
            </my-navbaritem>
        </my-navbarsection>
        {% with navsection=header.nav_section.first %}
            {% if navsection %}
            {% if not navsection.hidden_mobile %}
            <my-navbarsection>
                {% for nav_items in navsection.nav_items.all %}
                    <my-navbaritem>
                        <my-p casing="capitalize">
                            {{ nav_items.content }}
                        </my-p>
                    </my-navbaritem>
                {% endfor %}
            </my-navbarsection>
            {% else %}
            <my-navbarsection hidden-mobile="true">
                {% for nav_items in navsection.nav_items.all %}
                    <my-navbaritem>
                        <my-p casing="capitalize">
                            {{ nav_items.content }}
                        </my-p>
                    </my-navbaritem>
                {% endfor %}
            </my-navbarsection>
            {% endif %}
            {% endif %}
        {% endwith %}
        </my-navbar>
    </my-header>
    {% endif %}
{% endwith %}